[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "QuickExplore"]
	path = QuickExplore
	url = https://github.com/ramsas88/quickexplore
